<div class="navbar navbar-default">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#"><strong>Json Schema Buddy</strong></a>
    </div>
    <div class="navbar-header pull-left">
        <ul class="nav navbar-nav">
            <li>
                <a href="./Documentation/UnderstandingJSONSchema.pdf">Documentation</a>
            </li>
            <li>
                <a href="./Documentation/Default_Keyboard_Shortcuts_Ace_Editor.pdf">Keyboard Shortcuts</a>
            </li>
            <li>
                <a href="#" ng-click="ctrl.toggleOptions()">Generation Options</a>
            </li>
        </ul>
    </div>
</div>
