<div dropzone="schema-editor" action="api/FilesUpload/"
     id="UploadsDropZoneSchema">
    <div id="schema-editor" class="ace-editor" content="schemaEditor" editor f5="ctrl.generateSchema()" f6="ctrl.validateSchema()">
        {
        "_$schema": "http://json-schema.org/draft-04/schema#",
        "id": "#",
        "type": "object",
        "properties": {
        "name": {
        "id": "jsonschema.net/name",
        "type": "string"
        },
        "age": {
        "id": "jsonschema.net/age",
        "type": "integer"
        }
        },
        "additionalProperties": false
        }
    </div>
</div>